.new-user{
    display: flex;
    width:100%;
    .new-user-container{
        margin-top: 4.5rem;
        margin-left: 15%;
        width: 85%;
        padding: 1.5rem;

        h1{
            font-size: 20px;
        }

        .title, .main{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
            color: rgb(114, 110, 110);
            padding: 1rem;
        }
        .main{
            display: flex;
            margin-top: 1rem;

            .left{
                text-align: center;
                margin: 1rem;
                flex:1;
                .img{
                    height: 200px;
                    width: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 10px solid rgba(128, 128, 128, 0.226);
                }
            }
            .right{
                flex:2;
                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;

                    .form-input{
                        width: 45%;
                        label{
                            display: flex;
                            align-items: center;
                            gap:10px;
                            .icon{
                                cursor: pointer;
                            }
                        }
                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.308);

                            &::placeholder{
                                color: rgba(114, 110, 110, 0.534);
                            }
                        }
                    }
                    button{
                        min-width: 120px;
                        padding: 5px 0;
                        border: none;
                        background-color: teal;
                        color:white;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }

            }
        }
    }
}