.chart{
    flex: 5 0 0;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    color: rgb(172, 163, 163);
    .title{
        padding: 0.7rem .7rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .area-chart{
        width: 100%;
        padding-left: 1rem;
    }
    
}