.home{
    display: flex;
    width:100%;
    .home_container{
        margin-top: 4.5rem;
        margin-left: 15%;
        width: 85%;
        padding: 1.5rem;

        .widgets{
            top: 4.5rem;
            display: flex;
            gap:1.5rem;
        }
        .charts{
            display: flex;
            gap:1.5rem;
            margin-top: 1rem;
        }
    }
}