.data-table{
    height:85vh;
    .cell-with-img{
        display: flex;
        align-items: center;
        width:100%;
        .cell-img{
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin:1rem;

        }
    }
    .status{
        font-size: 14px;
        padding: 0.2rem 0.4rem;
        background-color: gray;
        border-radius: 5px;

        &.active{
            background-color: rgba(0, 128, 0, 0.05);
            color:green;
        }
        &.pending{
            background-color: rgba(225, 217, 0, 0.05);
            color:goldenrod;
        }
        &.passive{
            background-color: rgba(255, 0, 0, 0.05);
            color:crimson;
        }
    }
    .cell-action{
        display: flex;
        align-items: center;
        gap: 0.8rem;
        .viewButton{
            padding: 0.2rem 0.4rem;
            color:darkblue;
            border: 1px solid rgba(0, 0, 139, 0.137);
            border-radius: 8px;
            cursor: pointer;
            font-size: 14px;

        }
        .deleteButton{
            padding: 0.2rem 0.4rem;
            color:crimson;
            border: 1px solid rgba(0, 0, 139, 0.137);
            border-radius: 8px;
            cursor: pointer;
            font-size: 14px;

        }
    }
    

}
